{ 
    box-sizing: boarder-box;
    margin:0;
    padding: 0;
    font-family:
}#logo<ntp-logo id="logo" style="--ntp-logo-share-button-background-color:rgba(255, 255, 255, 1); --ntp-logo-share-button-height:13%; --ntp-logo-share-button-width:5.2%; --ntp-logo-share-button-x:93.6%; --ntp-logo-share-button-y:87%; --ntp-logo-box-color:rgba(255, 255, 255, 1);"></ntp-logo>